.action-btn {
    height: 100%;
    font-weight: 500;
    border: none;
    border-radius: 0.25rem;
    background-color: rgb(161 161 170);
    cursor: pointer;
    font-size: 1.25rem;
}
.btn-red{
    background-color: rgb(185 28 28);
    color: white;
}
.btn-blue {
    background-color: rgb(8 145 178);
}